<section class="p-categories">

  <%= render "components/categories_summary",
    total_balance: @total,
    negatives_balance: @negatives,
    positives_balance: @positives 
  %>

  <section class="c-categories">
    <header class="c-categories__header">
      <h2 class="t-heading t-heading--md">
        <%= pluralize(@categories.length, "Category") %>
      </h2>
      <%= link_to root_path, class: "c-icon-btn" do %>
        <svg class="c-icon--lg">
          <use xlink:href=<%= image_url("icons/sprite.svg#chevron-left")%>></use>
        </svg>
      <% end %>
    </header>

    <% if @categories.empty? %>
      <p>
        You don't have any category yet. Create one!
      </p>
    <% else %>
      <div class="c-categories__grid">
        <% @categories.each do |category| %>
          <%= render "components/category_item", category: category %>
        <% end %>
      </div>
    <% end %>
  </section>
</section>

